@model Tuple<LoonshotTest.Models.TreatMentModel, List<LoonshotTest.Models.TreatMentModel>, List<LoonshotTest.Models.ASModel>>
@using Microsoft.AspNetCore.Http
<head>
    <link rel="stylesheet" href="~/css/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/realprint.css" media="print">
</head>

@Html.Partial("Prescription")

<div id="non-printArea">
    <div class="user-profile">
        <h2>@Model.Item1.patient_name </h2>
        <div class="user-box">
            <div class="mypage-tap">
                <div class="btn-tap" onclick="contentshow('input-box')">
                    <div>
                        <img src="/img/AfterService/user.png" />
                    </div>
                    <h4>내 정보</h4>
                </div>

                <div class="btn-tap" onclick="contentshow('history-box')">
                    <div>
                        <img src="~/img/AfterService/history.png" />
                    </div>
                    <h4>진료이력</h4>
                </div>

                <div class="btn-tap" onclick="contentshow('as-box')">
                    <div>
                        <img src="~/img/AfterService/as.png" />
                    </div>
                    <h4>사후관리</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="content mypage">

        <div class="content-box input-box">
            <div class="content-line">
                <h4>개인정보</h4>
                <button type="button" class="btn btn-remove">회원 탈퇴</button>

            </div>
            <div class="form-check form-switch alarm-switch">
                <label for="flexSwitchCheck" class="form-label ml-3">알람설정</label>

                @if (Model.Item1.agree_Of_Alarm == 'T')
                {
                    <input class="form-check-input ml-3" name="agree_of_alarm" type="checkbox" data="F" id="flexSwitchCheck" checked="">
                }
                else
                {
                    <input class="form-check-input ml-3" type="checkbox" name="agree_of_alarm" data="T" id="flexSwitchCheck">
                }
            </div>
            <div class="form-group mr">
                <label for="name-input" class="form-label ">성 명</label>
                <p></p>
                <input type="text" name="patient_name" class="form-control" id="name-input" value="@Model.Item1.patient_name " disabled="disabled">
                <button type="button" class="btn mody-btn"><i class="fas fa-pen btn-pen"></i> 수정하기</button>
                <button type="button" class="btn submit-btn hidden" data="name"><i class="fas fa-check"></i> 적용하기</button>
            </div>
            <div class="form-group">
                <label for="address-input" class="form-label ">주소 </label>
                <p></p>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="hidden submit-btn">
                <input type="text" id="roadAddress" class="form-control" value="@Model.Item1.address" name="address2" placeholder="도로명주소" disabled="disabled">
                <button type="button" class="btn mody-btn"><i class="fas fa-pen btn-pen"></i> 수정하기</button>
                <button type="button" class="btn submit-btn hidden" data="name"><i class="fas fa-check"></i> 적용하기</button>
            </div>
            <div class="form-group mr">
                <label for="phone-input" class="form-label ">핸드폰</label>
                <p></p>
                <input type="text" class="form-control " id="phone-input" value="@Model.Item1.phone_Num" name="phone_num" disabled="disabled">
                <button type="button" class="btn mody-btn"><i class="fas fa-pen btn-pen"></i> 수정하기</button>
                <button type="button" class="btn submit-btn hidden" data="name"><i class="fas fa-check"></i> 적용하기</button>
            </div>
        </div>


        <div class="content-box history-box hidden">
            <div class="content-line">
                <h4>진료기록</h4>

            </div>
            <div class="no-item hidden">
                <h2>@Context.Session.GetString("userId") 님의 진료 기록이 없습니다.</h2>
                <h4>항상 건강한 당신의 모습을 기도 하며 최선을 다하는 이지피부미용병원이 되겠습니다.</h4>
                <img src="~/img/AfterService/nodata.png" alt="유저 데이터없음" />
            </div>
            <div id="html-form" class="card link-template-tabcard">
                @*<div class="card-header  d-flex justify-content-between align-items-center">
                    <h3 class="package-title disease_name" style="max-width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 10px">  <span class="treat_data"></span></h3>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" data-air="desc">진료정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" data-air="info">상세정보</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-0">
                    <div class="tab-content">
                        <div class="tab-pane p-4 info" role="tabpanel">
                            <div id="tab-content">
                                <div>
                                    <p>
                                        <strong class="treat_detail"></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active desc" role="tabpanel">
                            <ul class="list-group list-group-flush ml-0 mb-2">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong class="disease_name2">병 명 : </strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong class="staff_name">담당의 :  선생님</strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong class="pro_name">치료방법 : </strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong class="prescription">시 술 : </strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>진료완료</strong>
                                    <strong>진료 전</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
                    <a class="wpdm-download-link wpdm-download-locked btn btn-info btn-print" data-air="">처방전 출력</a>
                </div>*@
            </div>
        </div>
        <div class="content-box as-box hidden">
            <div class="content-line">
                <h4>사후관리</h4>
            </div>
            <div class="no-item hidden">
                <div class="no-item">
                    <h2>@Context.Session.GetString("userId") 님의 진료 기록이 없습니다.</h2>
                    <h4>항상 건강한 당신의 모습을 기도 하며 최선을 다하는 이지피부미용병원이 되겠습니다.</h4>
                </div>
                <img src="~/img/AfterService/nodata.png" alt="유저 데이터없음" />
            </div>
                <div id="as-box" class="as-wrapper">
                         @*<div class="type-d name as-@Model.Item3.IndexOf(item)">@item.procedure</div>*@
                         @*<div class="type-m name as-@Model.Item3.IndexOf(item)">@item.procedure</div>*@

                        @*<div class="as-info hidden ">*@
                            @*<p class="as-@Model.Item3.IndexOf(item)">
                                @item.a_s
                            </p>*@
                        @*</div>*@
                </div>
                <div class="content-line as-detail">
                    <h4 class="border-bottom"></h4>
                    <div class="as-detail-info">
                        <p></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="~/lib/jquery-validation/dist/jquery-ui.min.js"></script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script>
    // 핸드폰 번호로만 11자리 입력
    var chkPhone = /^[0-9]{11}$/
    // 주민번호 번호만으로 13자리 입력
    var chkRegist = /^[0-9]{13}$/
    // 사용자 이름 한글만입력 가능 2~4자리로 입력
    var chkName = /^[가-힣]{2,4}$/

    getHis(1);
    getAs(1);


    // 마이페이지 기본 정보 가져오기(진료이력, 사후관리)
    function getHis(cnt) {
        $.ajax({
            url: '@Url.Action("GetHistory", "Mypage")',
            type: "POST",
            dataType: 'json',
            data: { rcnt : cnt },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (d) {
                $.each(d, function (el) {
                    console.log(el.disease_name);
                    var html =
                        "<div class='card-header  d-flex justify-content-between align-items-center'>" +
                        "<h3 class='package-title disease_name' style='max-width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 10px'>" + el.disease_name + "<span class='treat_data'>" + el.treat_date + "</span></h3>" +
                        "<ul class='nav nav-tabs card-header-tabs'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link active' data-toggle='tab' data-air='desc'>진료정보</a>" +
                        "</li>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link ' data-toggle='tab' data-air='info'>상세정보</a>" +
                        "</li>" +
                        "</ul>" +
                        "</div>" +
                        "<div class='card-body p-0'>" +
                        "<div class='tab-content'>" +
                        "<div class='tab-pane p-4 info' role='tabpanel'>" +
                        "<div id='tab-content'>" +
                        "<div>" +
                        "<p>" +
                        "<strong class='treat_detail'>" + el.treat_details + "</strong>" +
                        "</p>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='tab-pane active desc' role='tabpanel'>" +
                        "<ul class='list-group list-group-flush ml-0 mb-2'>" +
                        "<li class='list-group-item d-flex justify-content-between align-items-center'>" +
                        "<strong class='disease_name2'>병 명 : " + el.disease_name + "</strong>" +
                        "</li>" +
                        "<li class='list-group-item d-flex justify-content-between align-items-center'>" +
                        "<strong class='staff_name'>담당의 : " + el.staff_name + " 선생님</strong>" +
                        "</li>" +
                        "<li class='list-group-item d-flex justify-content-between align-items-center'>" +
                        "<strong class='pro_name'>치료방법 : " + el.prescription + "</strong>" +
                        "</li>" +
                        "<li class='list-group-item d-flex justify-content-between align-items-center'>" +
                        "<strong class='prescription'>시 술 : " + el.procedure_name + " </strong>" +
                        "</li>" +
                        "<li class='list-group-item d-flex justify-content-between align-items-center'>"
                        if (el.treat_status_val) { + "<strong>진료완료</strong>" }
                        else {
                           + "<strong>진료 전</strong>"
                         }
                        "</li>" +
                        "</ul>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='card-footer bg-transparent d-flex justify-content-between align-items-center'>" +
                        "<a class='wpdm-download-link wpdm-download-locked btn btn-info btn-print' data-air='"+ el.treat_id +"'>처방전 출력</a>" +
                        "</div>" +
                        "</div>";
                    $("#html-form").append(html);
                });

            },
            error: function (requerst, status, error) {
                console.log("code:", +  requerst.status + " Message:" + requerst.responseText + " error:" + error);
            }
        });
    }
    function getHis(cnt) {
        $.ajax({
            url: '@Url.Action("GetAS", "Mypage")',
            type: "POST",
            dataType: 'json',
            data: { rcnt : cnt },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (d) {
                $.each(d, function (el) {
                    console.log(el.disease_name); "+ +"
                    if (el.AS_TYPE == 'D') {
                        var html = "<div class='type-d name as-" + index + "'> " + el.item.procedure + "</div> " +
                            "<div class='as-info hidden '> " +
                            "<p class='as-" + index + "'>" +
                            "+ el.a_s +" +
                            "</p>" +
                            "</div>";
                    }
                    else {
                        var html = "<div class='type-m name as-" + index + "'> " + el.item.procedure + "</div> " +
                            "<div class='as-info hidden '> " +
                            "<p class='as-" + index + "'>" +
                            "+ el.a_s +" +
                            "</p>" +
                            "</div>";
                    }
                    $("#as-box").append(html);
                });

            },
            error: function (requerst, status, error) {
                console.log("code:", +  requerst.status + " Message:" + requerst.responseText + " error:" + error);
            }
        });
    }
    // 기본정보 출력 종료
    @*$(".test").on("click", function () {
        $.ajax({
            url: '@Url.Action("Test", "Mypage")',
            type: "POST",
            dataType: 'json',
             contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (d) {
                console.log(d);
             },
             error: function (requerst, status, error) {
               console.log("code:", +  requerst.status + " Message:" + requerst.responseText + " error:" + error);
              }
        });
    });*@


    // 유저 알람 처리 시작
    $("input[name=agree_of_alarm]").on("click", function () {
        var alarm_check = $(this).prop("checked");
        alert(alarm_check);
        $.ajax({
            url: '@Url.Action("ChangeAlarm", "Mypage")',
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: { AGREE_OF_ALARM: !alarm_check },
                    error: function (requerst, status, error) {
                        console.log("code:", +  requerst.status + " Message:" + requerst.responseText + " error:" + error);
                    }
        });
    });
    // 유저 알람 끝


    //주소 시작
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                @*document.getElementById('_postcode').value = data.zonecode;*@
                document.getElementById("roadAddress").value = roadAddr;
            }
        }).open();
    }
    // 주소 끝

    // 탈퇴버튼 시작
    $(".btn-remove").on("click", function () {
        if (confirm("ezwait를 탈퇴하시겠습니까?")) {
            location.href = "/mypage/UserSecession";
        }
    })
    // 탈퇴 끝

    // 개인정보 수정 시작
    $(".mody-btn").on("click", function () {
        $(this).parent(".form-group").find(".form-control").attr("disabled", false);
        $(this).hide();
        $(this).next(".submit-btn").show();
        $(this).parent(".form-group").find(".hidden").show();
    })

    $(".submit-btn").on("click", function () {
        var ajax_check = $(this).attr("data");
        var ajax_data = null;
        var data_type = null;
        var search = $(this);
        if (ajax_check == "name") {
            ajax_data = $("#name-input").val();
            data_type = "N";
            if (!chkName.test(ajax_data)) {
                shakeCard($(this).parent(".form-group"), "성명");
                $("#name-input").val("");
                return false;
            }

        }
        else if (ajax_check == "phone") {
            ajax_data = $("#phone-input").val();
            data_type = "P";
            if (!chkPhone.test(ajax_data)) {
                $("#phone-input").val("");
                shakeCard($(this).parent(".form-group"), "휴대폰");
                return false;
            }

        }
        else if (ajax_check == "address") {
            ajax_data = $("#roadAddress").val();
            data_type = "A";
            if (ajax_data.length < 3) {
                $("#roadAddress").val("");
                shakeCard($(this).parent(".form-group"), "주소");
                return false;
            }
        }

        $(this).parent(".form-group").find("p").text("");
        $(this).parent(".form-group").removeClass("check-group");

         $.ajax({
            url: '@Url.Action("UpdateUser", "Mypage")',
            type: "POST",
            dataType: 'json',
             contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
             data: { SqlType: data_type, ajaxData: ajax_data },
             success: function (data) {
                 search.hide();
                 search.parent(".form-group").find(".form-control").attr("disabled", true);
                 search.prev().show();
             },
             error: function (requerst, status, error) {
               console.log("code:", +  requerst.status + " Message:" + requerst.responseText + " error:" + error);
              }
        });

    })
    // 개인정보 수정 끝
    // CONTENT 출력 기능 시작
    function contentshow(v) {
        $(".content-box").hide();
        $(".content-box." + v).show();
    }
    // Content 출력 기능 끝

    // shake
    function shakeCard(n, v) {
        n.effect('shake', "", 500);
        n.addClass("check-group");
        switch (v) {
            case "성명":
                n.find("p").text("이름은 2~4의 형태로 한글만 입력 가능합니다.");
                break;
            case "주소":
                n.find("p").text("주소는 빈 값으로 입력 할 수 없습니다.");
                break;
            case "핸드폰":
                n.find("p").text("핸드폰은 11자리 숫자로만 입력 할 수 있습니다.");
                break;
        }
    }
    // 화면 이벤트 처리
    $('.nav-link').on("click", function () {
        var active = $(this).data("air");
        var scale = $(this).parents(".card");
        scale.find(".tab-pane").removeClass("active");
        scale.find("." + active).addClass("active");
    })

    var name = null;
    var info = null;
    var index = null;
    $('.as-wrapper .name').on("click", function () {
        name = $(this).text();
        index = $(".name").index(this);
        info = $(".as-" + index).text();
        $('.as-detail h4').text(name);
        $('.as-detail .as-detail-info').text(info);
    })
    // 화면 이벤트 처리 끝

    // 처방전 및 진단서 출력 이벤트
    $('.btn-print').on("click", function () {
        let treat_id = $(this).data("air");
         $.ajax({
            url: '@Url.Action("UserPrescription", "Mypage")',
            type: "POST",
            dataType: 'json',
             contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
             data: { treat_id: treat_id },
             success: function (m) {
                 let d =  new Date();
                 $("#print_id").text(m.print_id);
                 $("#print_name").text(m.name);
                 $("#print_id_number").text(m.resident_num);
                 $("#print_id").text(d.toLocaleDateString() + "-" + m.print_id);
                 $("#disease_code").text(m.disease_code);
                 printDiv("printArea");
             },
             error: function (requerst, status, error) {
               console.log("code:", +  requerst.status + " Message:" + requerst.responseText + " error:" + error);
              }
        });
    });
    // 처방전 및 진단서 이벤트 종료
    // 프린트 기능
    function printDiv(divName) {
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (!isAndroid) {
            var printContents = '<html><head> <link rel="stylesheet" href="/css/print.css"/> <link rel="stylesheet" type="text/css" href="/css/realprint.css" media="print">  <title>my div</title>' + document.getElementById(divName).innerHTML;
            var printWindow = window.open("", "Print_Content", 'scrollbars=1,width=900,height=900top=' + (screen.height - 700) / 2 + ',left=' + (screen.width - 700) / 2);
            printWindow.document.write(printContents);
            printWindow.document.close();
            printWindow.focus();
            setTimeout(function () {
                printWindow.print();
                printWindow.close();
            }, 500);
        } else {
            var divContents = $("#" + divName).html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head> <link rel="stylesheet" href="/css/print.css"/> <link rel="stylesheet" type="text/css" href="/css/realprint.css" media="print"> <title>처방전</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
        return false;
    }
</script>