@model IEnumerable<MediStaff>
    @{
    }

    <div>
        @foreach (var staff in Model)
        {
        <ul>
            <li> @Html.DisplayFor(modelItem => staff.Staff_Id)</li>
            <li> @Html.DisplayFor(modelItem => staff.Medi_Subject)</li>
            <li> @Html.DisplayFor(modelItem => staff.Staff_Name)</li>
            <li> @Html.DisplayFor(modelItem => staff.Phone_Num)</li>

        </ul>
        }
    </div>

    <div class="row">
        @foreach(var staff in Model){
        <div style="max-width: 240px;" class="col-md-4 col-xs-6 border-primary mb-3">
            <h3 class="card-header">@staff.Staff_Name</h3>
            <div class="card-body">
                <h5 class="card-title">@staff.Medi_Subject 전문</h5>
            </div>
           <img src="https://myteledoc.app/wp-content/uploads/2020/09/happy-young-female-doctor-smiling-and-looking-at-c-WDEKYYG.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a  asp-controller="Booking" asp-action="ChooseDate" asp-route-id="@staff.Staff_Id" class="card-link">예약</a>
            </div>
        </div>
        }

     </div>
