<div style="margin-top:10rem;">
    <div class="card text-center">
        <div class="card-header">
            이용해주셔서 감사합니다 @ViewBag.patientName 님
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">@ViewBag.docName 의사선생님과  <b>@ViewBag.date.Month 월 @ViewBag.Date.Day 일 @ViewBag.Hour 시</b> 예약이 되었습니다. </p>
            <p>예약시간 꼭 지켜서 와주시기 바랍니다.</p>
            <p>@ViewBag.symptom</p>
                
        </div>
        <!--
    <div class="card-footer text-muted">
        2 days ago
    </div>
        -->
    </div>
    
    <div>
        <a href="/"><button style="margin:auto; margin-top:1rem;" class="btn btn-primary">홈 화면으로</button></a>
    </div>
    
</div>